{% extends 'ImageEditorBundle::base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}


<div class="row">
<div class="large-8 columns">

  
<img src="http://localhost/web/uploads/obrazki/{{image}}">

</div>
  <div class="large-4 columns">
{% block menu %}
<ul class="side-nav">
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/light">Światło i kolory</a></li>
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/size">Efekty graficzne i filtry</a></li>
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/size">Przycinanie</a></li>
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/">Znak wodny</a></li>
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/">Dodaj napis</a></li>
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/">Obróć</a></li>
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/">Zmiana formatu</a></li>
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/">Zmień rozdzielczość</a></li>
  <li><a href="http://localhost/s2bs1/web/app_dev.php/img/menu/">Dodatkowe</a></li>
</ul>

{% endblock %}



</div>
</div>
</div>
{% endblock %}
